<style>
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial;
}

.header {
  text-align: center;
  padding: 32px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 33%;
  max-width: 33%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

:has(img:hover) img:not(:hover) {
  filter: brightness(0.5) contrast(0.5);
}

</style>


<body>

<!-- Photo Grid -->
<div class="row"> 
  <div class="column">
    <img src="https://picsum.photos/400/300" style="width:100%" onclick="onClick(this)">
    <img src="https://picsum.photos/150/300" style="width:100%" onclick="onClick(this)">
    <img src="https://picsum.photos/200/300" style="width:100%" onclick="onClick(this)">
    <img src="https://picsum.photos/300/300" style="width:100%" onclick="onClick(this)">
    <img src="https://picsum.photos/400/300" style="width:100%" onclick="onClick(this)">
    <img src="https://picsum.photos/300/300" style="width:100%" onclick="onClick(this)">
    <img src="https://picsum.photos/200/300" style="width:100%" onclick="onClick(this)">
  </div>
  
  <div class="column">
    <img src="https://picsum.photos/200/300" style="width:100%" onclick="onClick(this)">
    <img src="https://picsum.photos/600/300" style="width:100%" onclick="onClick(this)">
    <img src="https://picsum.photos/500/300" style="width:100%" onclick="onClick(this)">
    <img src="https://picsum.photos/800/300" style="width:100%" onclick="onClick(this)">
    <img src="https://picsum.photos/200/300" style="width:100%" onclick="onClick(this)">
    <img src="https://picsum.photos/500/300" style="width:100%" onclick="onClick(this)">
  </div> 
   
  <div class="column">
    <img src="https://picsum.photos/300/300" style="width:100%" onclick="onClick(this)">
    <img src="https://picsum.photos/700/300" style="width:100%" onclick="onClick(this)">
    <img src="https://picsum.photos/200/300" style="width:100%" onclick="onClick(this)">
    <img src="https://picsum.photos/300/300" style="width:100%" onclick="onClick(this)">
  </div>
</div>

<div id="modal01" class="w3-modal" onclick="this.style.display='none'">
  <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
  <div class="w3-modal-content w3-animate-zoom">
    <img id="img01" style="width:100%">
  </div>
</div>

</body>

<script>
function onClick(element) {
  document.getElementById("img01").src = element.src;
  document.getElementById("modal01").style.display = "block";
}
</script>